@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.header{
    border-bottom: 1px dashed black;
    min-width: 100%;
    height: 75px;
    display: flex;
}

.header-menu{
    font-family: "Poppins" ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.board-title{
    font-size: 30px ;
    font-weight: bold;
}

.button-add-task{
    background-color: #423a60;
    font-size: 15px ;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-weight: 400;
    color: white;
    margin-left: auto;
    cursor: pointer;
}
.button-add-task:hover{
    opacity: 0.6 ;
}

.mysettingIcon{
    margin: 0 15px ;
    cursor: pointer;
    border-radius: 25px ;
    font-size: 20px;
    padding: 5px 0;
}

.mysettingIcon:hover{
    background-color: rgb(212, 230, 236);
}

.control-menu{
    position: absolute ;
    top: 4rem ;
    right: 2rem ;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    gap: 10px;
    align-items: flex-start;
}

.control-menu button{
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.control-menu button:nth-child(1):hover{
    opacity: 0.6;
}

.control-menu button:nth-child(2){
    color: lightcoral;
}
